@media screen and (orientation: landscape) {
    .cardContainer {
        width: 85vw;
        position: absolute;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(auto, 20rem));
        justify-items: center;
        justify-content: center;
        gap: 2rem;
        padding-bottom: 3rem;
    }
    .cardViewBlock {
        position: relative;
        width: 22rem;
        height: 13rem;
        border: solid 4px rgba(0, 0, 0, 0.5);
        border-radius: 1rem;
        display: grid;
        grid-template-columns: 0.4fr 0.6fr;
        grid-template-rows: 0.5fr 0.3fr 0.2fr;
        grid-template-areas:
        "cardPoster cardTitle"
        "cardPoster cardType"
        "cardPoster cardYear";
        padding:  0.5rem;
        overflow: hidden;
        box-shadow: 8px 8px 15px 1px rgba(0, 0, 0, 0.3);
        transition: 0.3s;
        cursor: pointer;
        justify-items: center;
        align-items: center;
    }
}

@media screen and (orientation: portrait) {
    .cardContainer {
        width: 85vw;
        position: absolute;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(auto, 20rem));
        justify-items: center;
        justify-content: center;
        gap: 2rem;
        padding-bottom: 3rem;
    }
    .cardViewBlock {
        position: relative;
        width: 22rem;
        height: 13rem;
        border: solid 4px rgba(0, 0, 0, 0.5);
        border-radius: 1rem;
        display: grid;
        grid-template-columns: 0.4fr 0.6fr;
        grid-template-rows: 0.5fr 0.3fr 0.2fr;
        grid-template-areas:
        "cardPoster cardTitle"
        "cardPoster cardType"
        "cardPoster cardYear";
        padding:  0.5rem;
        overflow: hidden;
        box-shadow: 8px 8px 15px 1px rgba(0, 0, 0, 0.3);
        transition: 0.3s;
        cursor: pointer;
        justify-items: center;
        align-items: center;
    }
}

@media screen and (max-width:  400px) {
    .cardContainer {
        width: 85vw;
        position: absolute;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(auto, 20rem));
        justify-items: center;
        justify-content: center;
        gap: 0rem;
        padding-bottom: 3rem;
    }
    .cardViewBlock {
        position: relative;
        width: 22rem;
        height: 13rem;
        border: solid 4px rgba(0, 0, 0, 0.5);
        border-radius: 1rem;
        display: grid;
        grid-template-columns: 0.4fr 0.6fr;
        grid-template-rows: 0.5fr 0.3fr 0.2fr;
        grid-template-areas:
        "cardPoster cardTitle"
        "cardPoster cardType"
        "cardPoster cardYear";
        padding:  0.5rem;
        overflow: hidden;
        box-shadow: 8px 8px 15px 1px rgba(0, 0, 0, 0.3);
        transition: 0.3s;
        cursor: pointer;
        justify-items: center;
        align-items: center;
        transform: scale(0.9);
    }
}

.cardViewBlock:hover {
    transform: scale(1.03);
}

.quickRemoveCard {
    position: absolute;
    bottom: 4%;
    right: 2%;
    border-radius: 50%;
    border-color: red;
    color: red;
    height: 1.6rem;
    width: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-weight: 600;
    opacity: 70%;
}
.quickRemoveCard:hover {
    color: white;
    background-color: red;
}

.cardPoster {
    position: absolute;
    grid-area: cardPoster;
    width: 90%;
    height: auto;
    border: solid 1px black;
    margin-bottom: 0.5rem;
}
.cardPoster img {
    width: 100%;
    height: auto;
}

.cardTitle {
    position: absolute;
    grid-area: cardTitle;
    text-align: center;
    align-self: end;
}

.cardType {
    position: absolute;
    grid-area: cardType;
    height: 2rem;
    color: grey;
    align-self: end;
}

.cardYear {
    position: absolute;
    grid-area: cardYear;
    height: 1rem;
    color: grey;
    align-self: start;
}
