.cardContainer {
    width: 85vw;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, 20rem));
    justify-items: center;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 40vh;
}

.cardViewBlock {
    position: relative;
    width: 22rem;
    height: 13rem;
    border: solid 4px rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    grid-template-rows: 0.5fr 0.3fr 0.2fr;
    grid-template-areas:
    "cardPoster cardTitle"
    "cardPoster cardType"
    "cardPoster cardYear";
    padding:  0.5rem;
    overflow: hidden;
    /*box-shadow: 8px 8px 15px 1px rgba(255, 255, 255, 0.2);*/
    transition: 0.3s;
    cursor: pointer;
    justify-items: center;
    align-items: center;
}
.cardViewBlock:hover {
    transform: scale(1.03);
}

@media screen and (orientation: landscape) {
}

@media screen and (orientation: portrait) {
}

@media screen and (max-width:  500px) {
    .cardViewBlock {
        transform: scale(0.9);
    }
}

.quickRemoveCard {
    position: absolute;
    bottom: 4%;
    right: 2%;
    border-radius: 50%;
    border-color: rgba(200, 0, 0, 0.8);
    color: rgba(175, 0, 0, 0.8);
    height: 1.6rem;
    width: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-weight: 600;
}
.quickRemoveCard:hover {
    color: rgba(255, 255, 255, 0.6);;
    background-color: rgba(200, 0, 0, 0.8);
}

.cardPoster {
    position: absolute;
    grid-area: cardPoster;
    width: 90%;
    height: auto;
    border: solid 2px rgba(255, 255, 255, 0.6);
    margin-bottom: 0.5rem;
}
.cardPoster img {
    width: 100%;
    height: auto;
    opacity: 0.8;
}

.cardTitle {
    position: absolute;
    grid-area: cardTitle;
    text-align: center;
    align-self: end;
}

.cardTitle h5 {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.1rem;
}

.cardType {
    position: absolute;
    grid-area: cardType;
    height: 2rem;
    color: grey;
    align-self: end;
}

.cardType h6 {
    text-transform: capitalize;
}

.cardYear {
    position: absolute;
    grid-area: cardYear;
    height: 1rem;
    color: grey;
    align-self: start;
}
