.listContainer {
    position: absolute;
    padding-bottom: 40vh;
}

.listViewBlock {
    display: grid;
    width:  85vw;
    height: 6rem;
    gap: 1rem;
    margin-bottom: 0.5rem;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.5);
    padding: 0.5rem 1rem;
    transition: 0.2s;
    cursor: pointer;
    overflow: hidden;
}
.listViewBlock:hover {
    box-shadow: 0 0 12px 4px rgba(255, 255, 255, 0.3);
    border-color: rgba(255, 255, 255, 0.7);
}

@media screen and (orientation: landscape) {
    .listViewBlock {
        grid-template-columns: .1fr 1fr 6rem 5.5rem;
    }

    .listTitle h5 {
        margin:  0;
        color: rgba(255, 255, 255, 0.7);
        font-size: 1.2rem;
    }

    .listType h6 {
        margin:  0;
    }

    .listYear h6 {
        margin:  0;
    }
}

@media screen and (orientation: portrait) {
    .listViewBlock {
        grid-template-columns: .1fr 1fr 3.5rem 5rem;
    }

    .listTitle h5 {
        margin:  0;
        color: rgba(255, 255, 255, 0.7);
        font-size: 1rem;
    }

    .listType h6 {
        margin:  0;
    }

    .listYear h6 {
        margin:  0;
    }
}

@media screen and (max-width: 500px) {
    .listViewBlock {
        grid-template-columns: .1fr 1fr 2rem 3.5rem;
    }

    .listTitle h5 {
        margin:  0;
        color: rgba(255, 255, 255, 0.7);
        font-size: 0.8rem;
    }

    .listType h6 {
        margin:  0;
        font-size: 0.8rem;
    }

    .listYear h6 {
        margin:  0;
        font-size: 0.8rem;
    }
}

.quickRemoveList {
    position: absolute;
    right: 0.3rem;
    margin-top: 3.4rem;
    border-radius: 50%;
    border-color: rgba(200, 0, 0, 0.8);
    color: rgba(175, 0, 0, 0.8);
    height: 1.6rem;
    width: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-weight: 600;
}
.quickRemoveList:hover {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(200, 0, 0, 0.8);
}

.listPoster img {
    width: 3rem;
    height: auto;
    opacity: 0.8;
    border: solid 2px rgba(255, 255, 255, 0.6);
}

.listTitle {
    align-self: center;
}

.listType {
    color: grey;
}

.listType h6 {
    text-transform: capitalize;
}

.listYear {
    justify-self: end;
    color:  grey;
    white-space: nowrap;
}
