.modal-content {
    color: black;
    width: 30rem;
    height: 40rem;
    align-items: center;
}

.modal-header {
    width: 100%;
}

.modal-title {
    width: 100%;
    text-align: center;
}

.btn-close {
    margin-left: 0;
}

.modal-body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.modal-footer {
    width: 100%;
}
