body {
  background-color: rgb(0, 0, 0);
  overflow: hidden;
}

.appContainer {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 8.5rem 1fr 3rem;
}

header {
  background-image: url(LOTR.jpg);
  background-position: 0% 38%;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.2), 30%, rgba(0, 0, 0, 1));
  display: grid;
  grid-template-columns: 10rem 1fr 10rem;
  grid-template-rows: 2.5rem 1fr;
  grid-template-areas:
  ". . headerItems"
  "searchAndFavorites searchAndFavorites searchAndFavorites";
}

.searchAndFavorites {
  grid-area: searchAndFavorites;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.headerItems {
  grid-area: headerItems;
  display: grid;
  grid-template-columns: 7rem 3rem;
  justify-items: center;
  align-items: center;
}

.favorites {
  border: solid 1px rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  width: 6rem;
  height: 1.7rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.6rem;
}
.favorites:hover {
  border-color: rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.5);
}

.toggleViewIcon {
  justify-self: center;

}

.searchBoxContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "searchBox"
  "enter";
  justify-items: center;
  align-items: center;
  z-index: 10;
  padding: 0 1rem;
}

.favoritesContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "favText"
  "favText";
  justify-items: center;
  align-items: center;
  z-index: 10;
}


.favText {
  grid-area: favText;
  text-align: center;
  margin: 0;
  color: rgba(255, 255, 255, 0.6);
}

.searchBox {
  grid-area: searchBox;
  border: solid 3px rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  height: 2.3rem;
  width: 100%;
  max-width: 25rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}
.searchBox:focus {
  outline: none;
  border: solid 3px rgba(255, 255, 255, 0.7);
}

.enter {
   grid-area: enter;
   border-radius: 10px;
   border-color: rgba(255, 255, 255, 0.5);
   background-color: rgba(0, 0, 0, 0.2);
   color: rgba(255, 255, 255, 0.5);
   width: 5rem;
   height: 2rem;
   display: flex;
   align-items: center;
   justify-content: center;
   justify-self: center;
   border-width: 2px;
   font-weight: 600;
   padding-top: 0.6rem;
   margin-bottom: 1rem;
}
.enter:hover {
  border-color: rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(0, 0, 0, 0.5);
}

.grid {
  position: relative;
}

.resultContainer {
  position: absolute;
  width: 100vw;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  overflow: scroll;
  overflow: scroll;
  overflow-x: hidden;
  padding-top: 1rem;
}

@media screen and (min-width: 501px) {
  .resultContainer::-webkit-scrollbar {
    background: transparent;
  }
}

@media screen and (max-width: 500px) {
  .resultContainer::-webkit-scrollbar {
    display: none;
  }
}

.resultContainer::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}

footer {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 100;
}
