body {
  background-color: rgb(255, 246, 235);
  overflow: hidden;
}

.appContainer {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 4rem 1fr;
}

header {
  background-image: url(LOTR.jpg);
  background-position: 0% 38%;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(255, 246, 235, 0.2), 40%, rgba(255, 246, 235, 1));
  padding-right: 1.5rem;
}

.grid {
  position: relative;
  display: grid;
  grid-template-rows: 5rem 1fr;
  justify-items: center;
  align-items: center;
}

.searchBoxContainer {
  position: relative;
  width: 95vw;
  height: 100%;
  display: grid;
  grid-template-columns: 1.7fr 20rem 1fr 6rem 2rem;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  ". searchBox . favorites toggle"
  " . enter . . .";
  align-items: center;
  z-index: 10;
  background: linear-gradient(rgba(255, 246, 235, 1), 90%, rgba(255, 246, 235, 0));
}

.searchBox {
  grid-area: searchBox;
  border: solid 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  height: 2.3rem;
  width: 100%;
  text-align: center;
  color: black;
}
.searchBox:focus {
  outline: none;
  border: solid 3px rgba(0, 0, 0, 0.6);
}

.enter {
   grid-area: enter;
   border-radius: 10px;
   width: 4rem;
   height: 1.5rem;
   display: flex;
   align-items: center;
   justify-content: center;
   justify-self: center;
   margin-top: 0.5rem;
   border: solid 2px #006C85;
   color: #006C85;
   opacity: 80%;
}
.enter:hover {
  color: #F8FEFF;
  border: solid 2px #006C85;
  background-color: #006C85;
}

.favorites {
  grid-area: favorites;
  border: solid 2px rgba(50, 50, 50, 0.7);
  border-radius: 10px;
  width: 5rem;
  height: 1.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggleViewIcon {
  grid-area: toggle;
  justify-self: center;
}

.resultContainer {
  position: absolute;
  width: 100vw;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  overflow: scroll;
  overflow-x: hidden;
  padding-top: 6rem;
}

.resultContainer::-webkit-scrollbar {
  background: transparent;
}

.resultContainer::-webkit-scrollbar-track {

}

.resultContainer::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
